asyncio==3.4.3
backports.tarfile==1.2.0
click==8.1.8
importlib_metadata==8.7.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
keyring==25.6.0
markdown-it-py==3.0.0
mdurl==0.1.2
more-itertools==10.7.0
numpy==2.2.5
opencv-python-headless==4.11.0.86
pillow==11.2.1
Pygments==2.19.1
PyYAML==6.0.2
qrcode==8.2
rich==14.0.0
shellingham==1.5.4
typer==0.15.3
typing_extensions==4.13.2
zipp==3.21.0
